# Site output
analysis/_site/*
analysis/output/*.tiff

# knitr and caching stuff
*/*_files/*
*/*_cache/*

# Ignore data for now, since it's huge
data/*

# Other folders
admin/*

.Rhistory
.RData
.Rproj.user
.DS_Store
